body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6f6e6e;
    color: rgb(242, 251, 68);
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(239, 250, 81);
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #333;
    color: rgb(232, 254, 67);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-item {
    margin-bottom: 40px;
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 20px;
    }

    header {
        padding: 0.5em;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}